<!doctype html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>chatCAT-chatRooms</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="cr-chatroom">
        <h1 class="cr-title">ChatCat</h1>
        <div class="cr-userbox">
            <img src="#" class="usr-pic">
            <h3 class="username">Sachin Bhatanagar | Logout</h3>
        </div>
        <div class="cr-newroom">
            <input type="text" class="newroom" autocomplete="off">
            <button id="create">Create Room</button>
        </div>
        <div class="cr-roomlist">
            <ul class="roomlist">
                <a href="#">
                    <li>NodeJS</li>
                </a>
                <a href="#">
                    <li>CloudComputing</li>
                </a>
                <a href="#">
                    <li>MongoDB</li>
                </a>
        </div>
    </div>
</body>

</html>